:root {
  --logo-font-family: "Satisfy", cursive;
  --background-color: rgb(255, 246, 252, 1);
}
body {
  background-color: var(--background-color);
}
.element {
  font-size: 98px;
  margin: 0;
  font-family: var(--logo-font-family);
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family: var(--logo-font-family);
  font-weight: 200;
  font-style: normal;
  padding-left: 18%;
  font-size: 50px;
  line-height: 0.5;
  display: flex;
  justify-content: center;
}
.package {
  text-align: center;
  background: url(https://images.squarespace-cdn.com/content/v1/55353879e4b0995b98f4fede/1573620875314-EJT1ZEN2IQ303TMU9HIO/AdobeStock_268023584.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 190px 20px;
}
.navigator {
  padding: 30px !important;
  background-color: var(--background-color);
}
.logo {
  padding-left: 5%;
  font-size: 25px;
  font-family: var(--logo-font-family);
}
.container-bar {
  font-size: 20px;
  padding-left: 15%;
}
.services {
  margin-top: 10%;
  padding-bottom: 15%;
}
.title {
  display: flex;
}
.business-pictures img {
  width: 30%;
  transition: all 200ms ease-in-out;
}
.business-pictures:hover {
  filter: contrast(70%);
}
.heading {
  margin-top: 5%;
  font-size: 60px;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}
.branding {
  font-size: larger;
  text-align: start !important;
}
.about-container {
  background-color: var(--background-color);
  margin-top: 90px;
}

.store-picture {
  width: 300px;
  height: auto;
}
.heading-about {
  font-size: 70px;
  font-family: var(--logo-font-family);
}
.review-section {
  background-image: url("https://media.istockphoto.com/id/1016701764/vector/vector-pink-feathers-collection-set-of-different-falling-fluffy-twirled-feathers-isolated-on.jpg?s=612x612&w=0&k=20&c=rJhZmYEvZ6IHFEvm93v99HTm0-pJUiCRg1j1nghYr0s=");
  background-size: auto;
}
.review-heading {
  font-size: 68px;
  text-align: center;
  font-family: var(--logo-font-family);
  margin: 30px;
  padding-bottom: 15px;
}
.skipped {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}
.personal-data {
  background-color: rgb(245, 210, 216);
}
.contact-page {
  margin-top: 10%;
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .element {
    font-size: 60px;
  }
  .package {
    background-size: auto;
  }
  .heading {
    font-size: 40px;
  }
  .offering {
    font-size: 13px !important;
  }
  .branding {
    font-size: 13px;
  }
  .container {
    padding: 2% !important;
    margin: 0% !important;
  }
  .heading-about {
    font-size: 50px;
  }
}
